<div class="content">
    <div class="editorials">
        <div class="header-editorias">
            <div class="title-section">
                <h2>EDITORIAS</h2>
            </div>
            <form action="" class="filter">
                <label for="data">Ordernar por:</label>
                <select name="data">
                    <option value="">....</option>
                    <option value="1">DATA</option>
                    <option value="2">Mais recente</option>
                    <option value="3">Mais antiga</option>
                    <option value="4">Ordem alfabética</option>
                </select>
                <label for="editorials-label">Ordernar por:</label>
                <select name="editorials-label">
                    <option value="" selected>EDITORIA</option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                </select>
            </form>
        </div>
        <section class="news">
            <span class="date">20/10/2016</span>
            <span class="category">Governo</span>
            <figure>
                <img src="images/news/1.jpg" alt="Votação encerrada">
            </figure>
            <h3>Votação encerrada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
            <p><a href="#">Saiba mais</a></p>
        </section>
        <section class="news">
            <span class="date">20/10/2016</span>
            <span class="category">Governo</span>
            <figure>
                <img src="images/news/1.jpg" alt="Votação encerrada">
            </figure>
            <h3>Votação encerrada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
            <p><a href="#">Saiba mais</a></p>
        </section>
        <section class="news">
            <span class="date">20/10/2016</span>
            <span class="category">Governo</span>
            <figure>
                <img src="images/news/1.jpg" alt="Votação encerrada">
            </figure>
            <h3>Votação encerrada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
            <p><a href="#">Saiba mais</a></p>
        </section>
        <section class="news">
            <span class="date">20/10/2016</span>
            <span class="category">Governo</span>
            <figure>
                <img src="images/news/1.jpg" alt="Votação encerrada">
            </figure>
            <h3>Votação encerrada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
            <p><a href="#">Saiba mais</a></p>
        </section>
        <section class="news">
            <span class="date">20/10/2016</span>
            <span class="category">Governo</span>
            <figure>
                <img src="images/news/1.jpg" alt="Votação encerrada">
            </figure>
            <h3>Votação encerrada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
            <p><a href="#">Saiba mais</a></p>
        </section>
        <section class="news">
            <span class="date">20/10/2016</span>
            <span class="category">Governo</span>
            <figure>
                <img src="images/news/1.jpg" alt="Votação encerrada">
            </figure>
            <h3>Votação encerrada</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum viverra diam ut venenatis.</p>
            <p><a href="#">Saiba mais</a></p>
        </section>
    </div>
</div>