/*********************************************************************
*  grid
*********************************************************************/
$media-mobile: 767px !default;
$media-geral-min: 768px !default;
/*********************************************************************
*  Typography
*********************************************************************/

$PROJECT_FONT_SIZE: 18px;
$FONT_SIZE_NAV: 24px;
$LABEL: 22px;
$FONT-LINK-NEWS: 22px;


$TYPE_FONT_BASIC: "Georgia";
$TYPE_FONT_NEWS: "verdana";

/*********************************************************************
*  Colors
*********************************************************************/

$TEXT_COLOR: #000000;
$LINK_COLOR: #000000;
$TEXT_SECONDARY: #666666;

/*********************************************************************
*  TITLES - COLOR
*********************************************************************/
$TITLE_COLOR_DARK:  #000000;

/*********************************************************************
*  TITLES - HEADING
*********************************************************************/
$HEADING-2: 34px;
$HEADING-3: 28px;
$HEADING-4: 24px;
$HEADING-5: 20px;
$HEADING-6: 16px;